extends blog

block blogcontent

  h2 Posts tagged with &apos;#{blog.tagName}&apos;

  ul
    for post in blog.thesePosts
      li #{post.meta.moment.format("DD MMM YYYY")} - 
        a(href="./#{post.name}")= post.meta.title
