extends layout

block content
  div.row
    div.col-md-6
      h3.muted Input JavaScript
      form#input-form.form-stacked(method="post", name="f", action="/minify")
        fieldset
          div.clearfix
            div.input
              textarea#input.col-md-12(name="input",rows="15",wrap="off",autofocus="autofocus",spellcheck="false")
          div.actions
            button#minify.btn.btn-primary(type="submit") Minify
            |  
            button#download.btn(type="button",disabled="disabled") Download as File
            |  
            button#raw.btn(type="button",disabled="disabled") RAW
            |  
            input#clear.btn(type="reset",value="Clear")

    div.col-md-6
      h3.muted Minified Output
      form#output-form.form-stacked(name="f")
        fieldset
          div.clearfix
            div.input
              textarea#output.col-md-12(name="output",rows="15",wrap="soft",disabled="disabled")
          div.actions
            button#select.btn(type="button",disabled="disabled") Select All

  include ./language-footer.jade

  h2.muted API - General

  p.
    To minify/compress your JavaScript perform a POST request to <code>http://javascript-minifier.com/raw</code> with the
    <code>input</code> parameter set to the JavaScript you want to minify.
  pre.
    POST http://javascript-minifier.com/raw?input=...
  p
    | To see implementations in other languages see the Language Examples pages above.

  h2.muted Plugins

  p
    | Many of our users have made plugins for various editors which are listed on the 
    a(href="/plugins") plugins
    |  page.

  h2.muted Programs

  p
    | Lots of people are making little programs to use JavaScript Minifier - see the 
    a(href="/programs") programs
    |  page.

  p (Ends)
