extends layout

block content

  h3.muted Java

  p Thanks to Cleber Muramoto for this contribution.

  pre.
    final URL url = new URL("http://javascript-minifier.com/raw");

    // JS File you want to compress
    byte[] bytes = Files.readAllBytes(Paths.get(...));

    final StringBuilder data = new StringBuilder();
    data.append(URLEncoder.encode("input", "UTF-8"));
    data.append('=');
    data.append(URLEncoder.encode(new String(bytes), "UTF-8"));

    bytes = data.toString().getBytes("UTF-8");

    final HttpURLConnection conn = (HttpURLConnection) url.openConnection();

    conn.setRequestMethod("POST");
    conn.setDoOutput(true);
    conn.setRequestProperty("Content-Type", "application/x-www-form-urlencoded");
    conn.setRequestProperty("charset", "utf-8");
    conn.setRequestProperty("Content-Length", Integer.toString(bytes.length));

    try (DataOutputStream wr = new DataOutputStream(conn.getOutputStream())) {
        wr.write(bytes);
    }

    final int code = conn.getResponseCode();

    System.out.println("Status: " + code);

    if (code == 200) {
        System.out.println("----");
        final BufferedReader in = new BufferedReader(new InputStreamReader(conn.getInputStream()));
        String inputLine;

        while ((inputLine = in.readLine()) != null) {
            System.out.print(inputLine);
        }
        in.close();

        System.out.println("\n----");
    } else {
        System.out.println("Oops");
    }

  include ./language-footer.jade
