h2.muted Language Examples

p Click on the language of your choice:

.btn-group(role="group",aria-label="Language Examples Navigation")
  for pageName in Object.keys(page)
    |  
    a.btn.btn-default(href=`/${pageName}`)= page[pageName].name

h3.muted More Languages

p
  | I'd love to add more examples in your favourite programming language, so feel free to send them my way.
  | Email andychilton at that gmail place in the sky or tweet to me 
  a(href="https://twitter.com/andychilton") @andychilton
  | .
