extends layout

block content

  h3.muted LWP Request
  pre.
    $ lwp-request -m POST #{env.baseUrl}/raw
    Please enter content (application/x-www-form-urlencoded) to be POSTed:
    input=console.log(%201%20)%3B
    ^D

  include ./include/languages.pug
