extends layout

block content

  h3.muted PHP
  pre.
    &lt;?php
        // setup the URL, the JavaScript and the form data
        $url = 'https://javascript-minifier.com/raw';
        $js = file_get_contents('./public/s/js/ready.js');
        $data = array(
            'input' =&gt; $js,
        );

        // init the request, set some info, send it and finally close it
        $ch = curl_init($url);

        curl_setopt($ch, CURLOPT_POST, 1);
        curl_setopt($ch, CURLOPT_POSTFIELDS, $data);
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

        $minified = curl_exec($ch);

        curl_close($ch);

        // output the $minified
        echo $minified;
    ?&gt;

  p
    | Also, Toni Almeida has made a PHP library to easily talk to JavaScript Minifier : 
    a(href="https://github.com/promatik/PHP-JS-CSS-Minifier") https://github.com/promatik/PHP-JS-CSS-Minifier
    | .

  include ./language-footer.jade

