extends layout

block content
  h2 Plugins

  h3.muted Django Helper

  p
    a(href="https://github.com/xgvargas") Gustavo Vargas
    |  has written a 
    a(href="https://github.com/xgvargas/js-css-min-django") Django plugin
    |  which allows you to use both 
    a("/") cssminifier.com
    |  and 
    a(href="https://javascript-minifier.com") javascript-minifier.com
    |  from within your projects.

  h3.muted Krusader File Manager

  p Jon Toffy made a plugin for the Krusader File Manager.

  h3.muted PHP Library

  p
    a(href="") Tony Almeida
    |  made a PHP Library - 
    a(href="https://github.com/promatik/PHP-JS-CSS-Minifier") PHP-JS-CSS-Minifier
    | - to help minify both CSS and JS files in your PHP projects. Thanks Tony!

  include ./language-footer.jade
