extends layout

block content
  h2 Programs

  ul
    li
      | GGG-KILLER made a C# program to use both 
      a(href="/") CSS Minifier
      |  and 
      a(href="https://javascript-minifier.com/") JavaScript Minifier
      |  : 
      a(href="https://github.com/GGG-KILLER/CSS-And-Js-Minifier") https://github.com/GGG-KILLER/CSS-And-Js-Minifier
      | .

  include ./language-footer.jade
