extends layout

block content
  h2 Programs

  ul
    li
      | GGG-KILLER made a C# program to use both 
      a(href="/") CSS Minifier
      |  and 
      a(href="https://#{pkg.name}/") JavaScript Minifier
      |  : 
      a(href="https://github.com/GGG-KILLER/CSS-And-Js-Minifier") https://github.com/GGG-KILLER/CSS-And-Js-Minifier
      | .
    li CraicOverflow89 made a Kotlin minifier :
      |
      |
      a(href="https://github.com/CraicOverflow89/JavaScript-Minifier") https://github.com/CraicOverflow89/JavaScript-Minifier

  include ./language-footer
