extends layout

block content

  h3.muted Ruby

  p Thanks to 
    a(href="https://github.com/jcron",target="_new") Jeremy Cron
    |  for contributing this example.

  pre.

    require "rest_client"

    task :minify do
      js_file = "public/scripts/ready.js"
      js_min_file = "public/scripts/ready.min.js"
      response = RestClient.post "https://javascript-minifier.com/raw", {:input => File.open(js_file).read}
      File.open(js_min_file, "w").write(response)
    end

  include ./language-footer.jade
