div.bg-teal-800
  div.container.mx-auto.text-white.py-4.m-0
    | We've been hosted on <a class="font-bold text-white underline" href="https://m.do.co/c/c151de638f83">Digital Ocean</a> since 2013 and highly recommend it for your hosting too.
    |
    | <a class="font-bold text-white underline" href="https://m.do.co/c/c151de638f83">Try it now!</a>
