footer.bg-gray-200.p-8.mt-12.border-t.border-gray-500

  div.flex.flex-wrap

    .h-auto(class="w-full lg:w-1/4 sm:w-1/2 md:w-1/3")

      .text-teal-500.mb-1.font-bold Dev Services and APIs
      p.text-gray-600.mb-1 Free Web Dev services and APIs.

      ul.list-reset.leading-normal
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://cssminifier.com/") CSS Minifier
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://javascript-minifier.com") JavaScript Minifier
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://html-minifier.com/") HTML Minifier
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://pngcrush.com/") PNG Crush
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://jpgoptimiser.com") JPG Optimiser
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://img-resize.com/") Image Resize
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://postb.in") PostBin
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://bcrypt.org") Bcrypt Test API
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://paste.gd") Paste Service
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://pow.gd") URL Shortener
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://markdown.gd") Publish Markdown Articles
        li
          a.text-gray-800(class="hover:text-teal-dark" href="https://feed2json.org/") Feed 2 JSON

    .h-auto(class="w-full lg:w-1/4 sm:w-1/2 md:w-1/3")

      .text-blue-500.mb-1.font-bold PageCSS
      p.text-gray-600.mb-1 Free HTML and CSS web designs.
      p.text-gray-600.mb-1 Coming soon!

      // ul.list-reset.leading-normal
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Starlight
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Astro
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Chromatic
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Lithograph
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Typewriter
        li
          a.text-gray-800(class="hover:text-blue-dark" href="#") Flight

    // .h-auto(class="w-full lg:w-1/4 sm:w-1/2 md:w-1/3")

      .text-purple-500.mb-1.font-bold Curated Press
      p.text-gray-600.mb-1 Curated news and links to technical articles.

      ul.list-reset.leading-normal
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/go") Curated Go
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/javascript") Curated JavaScript
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/postgres") Curated Postgres
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/perl") Curated Perl
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/php") Curated PHP
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/mysql") Curated MySQL
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/redis") Curated Redis
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/java") Curated Java
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/linux") Curated Linux
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/react") Curated React
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/vue") Curated Vue.js
        li
          a.text-gray-800(class="hover:text-purple-dark" href="https://curated.press/startup") Curated Startup

    .h-auto(class="w-full lg:w-1/4 sm:w-1/2 md:w-1/3")

      .text-green-700.mb-1.font-bold Andy Chilton
      p.text-gray-600.mb-1 Developer, Node.js, Postgres, Redis.
      p.text-gray-800
        a.text-gray-800.border.border-grey-darker.fab.fa-twitter.inline-block.rounded-full.p-2.my-2.mr-2(class="hover:text-green-dark" href="https://twitter.com/andychilton")
        a.text-gray-800.border.border-grey-darker.fab.fa-gitlab.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark" href="https://gitlab.com/chilts")
        a.text-gray-800.border.border-grey-darker.fas.fa-globe.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark hover:border-text-green-dark" href="https://chilts.org/")

      .text-green-700.mb-1.font-bold WebDevSH
      p.text-gray-600.mb-1 Web Dev Utilities and Tools.
      p.text-gray-800
        a.text-gray-800.border.border-grey-darker.fab.fa-twitter.inline-block.rounded-full.p-2.my-2.mr-2(class="hover:text-green-dark" href="https://twitter.com/WebDevSH")
        a.text-gray-800.border.border-grey-darker.fab.fa-gitlab.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark" href="https://gitlab.com/webdev.sh")
        a.text-gray-800.border.border-grey-darker.fas.fa-globe.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark hover:border-text-green-dark" href="https://webdev.sh/")


      .text-green-700.mb-1.font-bold Apps Attic
      p.text-gray-600.mb-1 Open Source Web Apps.
      p.text-gray-800
        a.text-gray-800.border.border-grey-darker.fab.fa-twitter.inline-block.rounded-full.p-2.my-2.mr-2(class="hover:text-green-dark" href="https://twitter.com/AppsAttic")
        a.text-gray-800.border.border-grey-darker.fab.fa-gitlab.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark" href="https://gitlab.com/appsattic")
        a.text-gray-800.border.border-grey-darker.fas.fa-globe.inline-block.rounded-full.p-2.m-2(class="hover:text-green-dark hover:border-text-green-dark" href="https://appsattic.com/")

    // .h-auto(class="w-full lg:w-1/4 sm:w-1/2 md:w-1/3")
      .text-red-light.mb-1.font-bold Newsletter
      p.text-gray-800.leading-normal Sign up for our mailing list, full of hints, tips, new services and new designs.
      .mt-4.flex
        input.p-2.border.border-grey-light.round.text-grey-dark.text-sm.h-auto(type="text" placeholder="Your email address")
        button.bg-teal.text-white.rounded-sm.h-auto.text-xs.p-3 Subscribe
