p
  | Many of our users have made plugins for various editors which are listed on the
  |
  a(href="/plugins") plugins
  |
  | page.

h3 Django Helper

p
  a(href="https://github.com/xgvargas") Gustavo Vargas
  |
  | has written a
  |
  a(href="https://github.com/xgvargas/js-css-min-django") Django plugin
  |
  | which allows you to use both
  |
  a("https://cssminifier.com") cssminifier.com
  |
  | and
  |
  a("/") #{env.apex}
  |
  | from within your projects.

h3 Krusader File Manager

p Jon Toffy made a plugin for the Krusader File Manager.

h3 PHP Library

p
  a(href="") Tony Almeida
  |
  | made a PHP Library -
  |
  a(href="https://github.com/promatik/PHP-JS-CSS-Minifier") PHP-JS-CSS-Minifier
  |
  | - to help minify both CSS and JS files in your PHP projects. Thanks Tony!
