/* ------------------------------------------------------------------------- */
/* layout */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------- */

#input, #output {
    height: 310px;
}

.actions {
    margin-top: 10px;
}

/* ------------------------------------------------------------------------- */

/* footer */
#footer {
    background-color: whiteSmoke;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 10000;
}

/* ------------------------------------------------------------------------- */

/* general */
pre {
    overflow: auto;
}

.c {
    text-align: center;
}

.r, .table th.r, .table td.r {
    text-align: right;
}

/* ------------------------------------------------------------------------- */

/* Carbon */

#carbonads {
  --max-width: 330px;
  --font-size: 14px;
}

#carbonads {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(231, 231, 231);
    display: block;
    width: var(--max-width);
    max-width: var(--max-width);
    padding: 10px;
    overflow: hidden;
    float: right;
}

#carbonads > span {
    display: block;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carbonads .carbon-wrap {
    display: flex;
    align-items: center;
}

#carbonads .carbon-wrap a {
    flex: 1;
    margin: 8px 0;
}

#carbonads .carbon-wrap .carbon-img {
    padding: 0 8px;
}

#carbonads .carbon-wrap .carbon-text {
    padding: 0 8px;
    width: 150px;
    max-width: 150px;
}

#carbonads .carbon-poweredby {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 8px;
}

/* ------------------------------------------------------------------------- */
